.Tabela{
    text-align: left;
    width: 75%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto; 
    overflow-x: scroll;
    color:white;
    font-size: small;
}
#thead{
background-color: dodgerblue;
color: white;
}

#Button{
    padding: 5px;
    font-size: x-small;
}